body {
  background: linear-gradient(
    185.01deg,
    #f1e5ed 3.7%,
    #eff5ff 12.92%,
    #e7e4df 52.14%,
    #fbf2f2 95.97%
  ) no-repeat;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.new-login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-login-row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-login-form-col {
  position: relative;
  flex: 1;
  max-width: 50%;
  padding: 20px;
}

.new-login-form-col::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 100vh;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(
    rgba(29, 68, 135, 0.14),
    rgba(115, 115, 115, 0),
    transparent
  );
  margin: auto;
  z-index: -1;
}

.new-login-form {
  max-width: 200px;
  margin: 0 auto;
}

.new-login-logo {
  width: 50%;
  display: block;
  margin: auto;
  margin-bottom: 10%;
}

.new-login-form-group {
  position: relative;
  margin-bottom: 20px;
}

.new-login-form-group input {
  width: 100%;
  height: 49px;
  padding-left: 35px;
  border: 1px solid #1d4487;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}

.new-login-form-group input::placeholder {
  color: #999;
  font-weight: 400;
}

.new-login-form-group input:focus {
  border-color: #f6821f;
  box-shadow: 0 0 5px rgba(246, 130, 31, 0.3);
  outline: none;
}

.new-login-form-group svg {
  position: absolute;
  top: 17px;
  left: 10px;
  z-index: 1;
}

.new-login-btn {
  width: 100%;
  height: 49px;
  background-color: #f6821f;
  border-color: #d3690d;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  transition: all 0.3s ease;
}

.new-login-btn:hover {
  background-color: #d3690d;
  border-color: #f6821f;
}

.new-login-image-col {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-login-image {
  width: 50%;
  display: block;
}

.new-login-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: transparent;
}

.new-login-footer a {
  font-weight: 600;
  color: #1f4585;
  text-decoration: none;
}

.new-login-footer a::first-letter {
  color: #f6821f;
  text-transform: lowercase;
}

.new-login-canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 768px) {
  .new-login-row {
    flex-direction: column;
  }

  .new-login-form-col {
    max-width: 80%;
  }

  .new-login-form-col::after {
    width: 50vh;
  }

  .new-login-image-col {
    display: none;
  }
}